body {
  margin: 0;
  padding: 0;
  background-color: grey;
}

html {
  margin: 0;
  padding: 0;
}

:root:has(#bg:checked) {
  --theme-color: Green;
  --theme-black: black;
}

:root:has(#bp:checked) {
  --theme-color: #2e029d;
  --theme-black: black;
}
:root:has(#gg:checked) {
  --theme-color: Green;
  --theme-black: grey;
}
:root:has(#gp:checked) {
  --theme-color: #2e029d;
  --theme-black: grey;
}

.main_body {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.main_body img {
  display: block;
  width: 200px;
  margin: auto;
  position: relative;
}

.topbot {
  background: linear-gradient(to right, black, purple, blue);
  margin-top: 0;
  position: static;
  display: block;
  text-align: center;
  color: whitesmoke;
}

.main_body button {
  font-size: 20px;
  background: linear-gradient(to right, black, purple, blue);
  color: white;
}

.main_body button:hover {
  background: linear-gradient(to right, black, red, blue);
}

.themePicker {
  display: block;
  width: fit-content;
  margin-left: 70px;
  padding: 4px;
  border-radius: 0 0 1rem 0;
  background-color: lightgrey;
}

.themePicker fieldset {
  display: flex;
  margin: auto;
  flex-direction: row;
  gap: 10px;
  border: 0;
  width: fit-content;
}

.themePicker input[type="radio"] {
  appearance: none;
  width: 15px;
  height: 15px;
  outline: 2px solid var(--radio-outline-color);
  border: 2px solid var(--radio-border-color);
  outline-offset: 2px;
  border-radius:  0  0  50% 50%;
}

/*style each radio input*/
.themePicker input[type="radio"]#bg {
  --radio-outline-color: black;
  --radio-border-color: green;

}

.themePicker input[type="radio"]#bp {
  --radio-outline-color: black;
  --radio-border-color: #2e029d;
}

.themePicker input[type="radio"]#gg {
  --radio-outline-color: grey;
  --radio-border-color: green;
}

.themePicker input[type="radio"]#gp {
  --radio-outline-color: grey;
  --radio-border-color: #2e029d;
}

.themePicker input[type="radio"]:checked {
  background-color: var(--radio-border-color);
}

.themePicker i {
  font-size: 20px;
  color: var(--theme-color);
  margin-right: 10px;
}

/* hide themelabesl from user, but visible to bots */
.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}