body {
 margin: 0;
 padding: 0;
 background-color: grey;
 font-family: Arial, Helvetica, sans-serif;
 color: var(--font-color);
 display: block;
}

html {
 margin: 0;
 padding: 0;
}

/* default theme */
:root {
 --theme-black: black;
 --font-color: white;
}

:root:has(#green:checked) {
 --theme-color: rgba(0, 128, 0, 0.747);
}

:root:has(#purple:checked) {
 --theme-color: rgb(94, 4, 212);
}

:root:has(#pink:checked) {
 --theme-color: rgba(245, 1, 212, 0.699);
}

:root:has(#blue:checked) {
 --theme-color: rgba(0, 0, 255, 0.753);
}

.light {
 --theme-black: rgb(180, 180, 180);
 --font-color: black;
}

.main_body {
 display: block;
 margin: 0;
 padding: 0;
 width: 100%;
 overflow: hidden;
 text-align: center;
 background: var(--theme-color, #2e029d);
 height: calc(100vh - 40px);
}

.main_body img {
 display: block;
 width: 200px;
 margin: auto;
 position: relative;
}

header {
 display: block;
 margin: 0;
 padding: 0;
}

.topbot {
 background: linear-gradient(to right, black, purple, blue);
 margin: -20px 0;
 padding: 0;
 display: block;
 text-align: center;
 color: whitesmoke;
 width: 100%;
}

.main_body button {
 font-size: 20px;
 background: linear-gradient(to right, black, purple, blue);
 color: white;
}

.main_body button:hover {
 background: linear-gradient(to right, black, red, blue);
}

.themePicker {
 display: block;
 width: fit-content;
 margin-left: 0px;
 padding: 4px;
 border-radius: 0 0 1rem 0;
 background-color: transparent;
 box-shadow: 1px 0px 3px var(--theme-color);
}

.themePicker fieldset {
 display: flex;
 margin: auto;
 flex-direction: row;
 gap: 10px;
 border: 0;
 width: fit-content;
}

.themePicker button {
 appearance: none;
 background-color: transparent;
 width: fit-content;
 border: 0;
 border-radius: 50%;
 padding: 0;
 margin: 0;
 cursor: pointer;
}

.themePicker input[type='radio'] {
 appearance: none;
 width: 15px;
 height: 15px;
 outline: 2px solid var(--radio-border-color);
 background-color: aliceblue;
 outline-offset: 2px;
 border-radius: 50%;
}

/*style each radio input*/
.themePicker input[type='radio']#purple {
 --radio-border-color: #2e029d;
}

.themePicker input[type='radio']#green {
 --radio-border-color: rgba(0, 128, 0, 0.747);
}

.themePicker input[type='radio']#pink {
 --radio-border-color: rgba(245, 1, 212, 0.699);
}

.themePicker input[type='radio']#blue {
 --radio-border-color: rgba(0, 0, 255, 0.753);
}

.themePicker input[type='radio']:checked {
 background-color: var(--theme-color);
}

.themePicker i {
 font-size: 20px;
 color: var(--theme-color);
 padding: 0;
 margin: 0;
}

/* hide themelabesl from user, but visible to bots */
.hidden {
 clip: rect(0 0 0 0);
 clip-path: inset(50%);
 height: 1px;
 overflow: hidden;
 position: absolute;
 white-space: nowrap;
 width: 1px;
}
