@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

.fa {
  display: inline-block;
  font-size: 25px;
}

header {
  display: block;
  margin: 0;
  padding: 0;
}

.main-menu {
  display: block;
  float: left;
  width: 100%;
  height: 50px;
  background-color: var(--theme-black);
  border-bottom: 5px solid var(--theme-color);
  border-radius: 0 0 20px 20px;
  overflow: hidden;
}

.main-menu .nav-logo {
  display: block;
  margin: 0px;
  height: 100%;
  list-style: none;
  text-align: center;
  float: left;
  margin-right: 50px;
}

.main-menu .nav-logo img {
  display: inline-block;
  height: 30px;
  margin: auto 0px;
  width: auto;
  vertical-align: middle;
}

.main-menu .nav-logo span {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  height: 100%;
  padding: 0 10px;
  line-height: 50px;
  vertical-align: middle;
  text-decoration: none;
  color: lightgrey;
}

.main-menu .nav-items {
  list-style: none;
  display: block;
  font-size: 18px;
  color: lightgrey;
  height: 100%;
  width: fit-content;
  margin: 0;
  padding: 0;
  margin: auto;
  text-wrap: nowrap;
}

.main-menu .nav-items li {
  display: inline-block;
  height: 100%;
  padding: 0;
  line-height: 60px;
  margin: 0;
  color: lightgrey;
}

.main-menu .nav-items li:hover {
  background-color: var(--theme-color);
  color: white;
}

.main-menu .nav-items li a {
  display: block;
  height: 100%;
  padding: 0 15px;
  line-height: 50px;
  text-decoration: none;
  color: lightgrey;
}

.main-menu .nav-items .dropdown_nav {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
}

.main-menu .nav-items li i {
  display: inline-block;
  height: 100%;
  padding: 0 5px;
  line-height: 50px;
  color: lightgrey;
}

.main-menu .nav-items li select {
  display: inline-block;
  height: 100%;
  padding: 0 0px;
  line-height: 60px;
  color: lightgrey;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  text-align: left;
}

.main-menu .nav-items li select option {
  display: block;
  color: black;
}

.footer {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: var(--theme-black);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  margin-top: 10%;
  border-top: 5px solid var(--theme-color);
  color: whitesmoke;
}

.footer .themePicker {
  display: inline-block;
}

.footer .footer-content {
  display: inline-block;
  margin: auto;
  padding: 0;
  width: fit-content;
  text-wrap: nowrap;
}

.footer a {
  color: var(--theme-color);
}


