@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

.fa {
  display: inline-block;
  font-size: 25px;
}

header {
  display: block;
  margin: 0;
  padding: 0;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:5px 30px ;
  background-color: var(--theme-black);
  max-height: 50px;

}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--theme-black);
}

nav ul li {
  max-height: 50px;  
  width: fit-content;
  
}

nav .nav-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  flex-wrap: nowrap;
}

nav .nav-logo li a .nav-text {
  display: inline-block;
  color: var(--font-color);
  font-weight: bold;
  font-size: 22px;
  text-wrap: nowrap;
}

.nav-logo-img{
  width: 30px;
  aspect-ratio: 1/1;
  margin: 0;
  padding: 0;
  background-color: var(--theme-black);
}

nav .nav-items li a {
  display: flex;
  background-color: var(--theme-black);
  max-width: 200px;
  justify-content: center;
  align-items: center;
  color:var(--font-color);
  text-decoration: none;
  font-size: 19px;
  padding: 10px 20px;
  max-height: 50px;
}

nav .nav-items li a:hover {
  color: var(--theme-black);
  background-color: var(--theme-color);
  border-radius: 20px;
}

nav .nav-items li a span{
  display: block;
  text-align: center;
  margin-left: 7px;
}

.dropdown {
  display: inline-block;
  background-color: var(--theme-black);
  margin: 0;
}

.dropdown .dropbtn {
  display: flex;
  background-color: var(--theme-black);
  max-width: 200px;
  justify-content: center;
  align-items: center;
  color:var(--font-color);
  text-decoration: none;
  font-size: 19px;
  padding: 10px 20px;
  max-height: 50px;
  border: none;
  gap: 7px;

}

.dropdown .dropbtn:hover {
  color: var(--theme-black);
  background-color: var(--theme-color);
  border-radius: 20px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--theme-black);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color:var(--font-color);
}

.dropdown-content a {
  float: none;
  color:var(--font-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.footer {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: var(--theme-black);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  margin-top: 10%;
  border-top: 5px solid var(--theme-color);
  color:var(--font-color);
}

.footer .themePicker {
  display: inline-block;
}

.footer .footer-content {
  display: inline-block;
  margin: auto;
  padding: 0;
  width: fit-content;
  text-wrap: nowrap;
}

.footer a {
  color: var(--theme-color);
}
