body {
    margin: 0;
    padding: 0;
    background-color: grey;
}

.toolGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-right: 50px;
    justify-content: center;
    width: fit-content;
    background-color: transparent;
    color: white;
    text-align: center;
}

.toolItem {
    display: block;
    padding: 4px;
    background-color: var(--theme-black);
    box-shadow: 5px 10px 5px 0px var(--theme-color);
    border: 2px solid var(--theme-color);
    color: white;
    text-align: center;
    width: 150px;
    height: fit-content;
}

.toolItem input {
    display: inline;
    width: 40px;
}

.toolItem label {
    display: inline;
    float: left;
}

.toolItem button {
    display: block;
    margin: auto;
    margin-top: 10px;
    color: white;
    background-color: var(--theme-color);
}

.converters {
    display: block;
    margin: auto;
    width: 200px;
    max-width: fit-content;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
}
.converter-form input {
    display: inline-block;
    width: 80%;
    min-width: 20px;
    margin: 10px;
    border: 1px solid grey;
    border-radius: 20px;
    text-align: center;
    padding: 4px;
}

.converter-form .errors {
  color: red;
}

.conv-output {
  display: block;
  margin: auto;
  background: linear-gradient(rgb(210, 210, 210), rgb(50, 50, 50));
  border-radius: 20px;
  width: fit-content;
  margin-top: 10px;
  padding: 1px;
  padding-left: 20px;
  padding-right: 20px;
}

.conv-output #decValue {
  font-weight: bold;
  color: white;
}
